<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>Filter.Authfilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Authfilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAgendaServlet</servlet-name>
        <servlet-class>Controller.AdminAgendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRequestManagementServlet</servlet-name>
        <servlet-class>Controller.AdminRequestManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserManagementServlet</servlet-name>
        <servlet-class>Controller.AdminUserManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAgendaServlet</servlet-name>
        <servlet-class>Controller.UserAgendaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRequestManagementServlet</servlet-name>
        <servlet-class>Controller.UserRequestManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRequestServlet</servlet-name>
        <servlet-class>Controller.UserRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRequestViewServlet</servlet-name>
        <servlet-class>Controller.UserRequestViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSettingsServlet</servlet-name>
        <servlet-class>Controller.UserSettingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAgendaServlet</servlet-name>
        <url-pattern>/adminAgenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRequestManagementServlet</servlet-name>
        <url-pattern>/adminRequestManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserManagementServlet</servlet-name>
        <url-pattern>/adminUserManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAgendaServlet</servlet-name>
        <url-pattern>/userAgenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRequestManagementServlet</servlet-name>
        <url-pattern>/userRequestManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRequestServlet</servlet-name>
        <url-pattern>/userRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRequestViewServlet</servlet-name>
        <url-pattern>/userRequestView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSettingsServlet</servlet-name>
        <url-pattern>/userSettings</url-pattern>
    </servlet-mapping>
</web-app>
